<a href="https://colab.research.google.com/github/Aakanksha-1208/Demo/blob/main/pandas_revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
a=np.array(['a','b','c'])
c=pd.Series(a,index=[1,2,3])
print(c)

1    a
2    b
3    c
dtype: object

In [ ]:
import pandas as pd
d={1:'a',2:'v'}
s1=pd.Series(d,index=[3,2])
print(s1)

3    NaN
2      v
dtype: object

In [ ]:
import numpy as np
import pandas as pd
a=np.array([1,2,3])
s=pd.Series(a, index=['0','1','2'])
print(s[1])
print(s[2])
print(s['0'])

2
3
1

/tmp/ipython-input-1387928898.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[1])
/tmp/ipython-input-1387928898.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[2])

In [ ]:
import pandas as pd
a=[1,2,3,4]
b=pd.DataFrame(a)
print(b)

   0
0  1
1  2
2  3
3  4

In [ ]:
import pandas as pd
a=[['h',23],['i',24]]
s=pd.DataFrame(a, columns=['name','age'])
print(s)

  name  age
0    h   23
1    i   24

In [ ]:
import pandas as pd
a=[1,2,3,4]
s=pd.DataFrame(a,columns=['number'],index=['a','b','c','d'])
print(s)

   number
a       1
b       2
c       3
d       4

In [ ]:
import pandas as pd
a=[{1:'a',2:'b'},{"apple":2,"banana":3}]
s=pd.DataFrame(a)
print(s)

     1    2  apple  banana
0    a    b    NaN     NaN
1  NaN  NaN    2.0     3.0

In [ ]:
import pandas as pd
a={'one':pd.Series([1,2,3],index=[1,2,3]),'two':pd.Series([4,5,6],index=[9,8,7])}
s=pd.DataFrame(a)
print(s)

   one  two
1  1.0  NaN
2  2.0  NaN
3  3.0  NaN
7  NaN  6.0
8  NaN  5.0
9  NaN  4.0

In [ ]:
import pandas as pd
b={'one':pd.Series([1,2,3],index=['b','a','c'])}
a=pd.DataFrame(b)
a['three']=pd.Series([5,6,7],index=['a','b','c'])
print(a)
a['four']=a['one']+a['three']
print(a)
del a['four']
print(a)
print(a.loc('a'))

   one  three
b    1      6
a    2      5
c    3      7
   one  three  four
b    1      6     7
a    2      5     7
c    3      7    10
   one  three
b    1      6
a    2      5
c    3      7
one      2
three    5
Name: a, dtype: int64
one      3
three    7
Name: c, dtype: int64

In [ ]:
import pandas as pd
a={'one':pd.Series([1,2,3],index=['a','b','c'])}
df=pd.DataFrame(a)
print(df)
print(df[:1])
print(df[:2])

   one
a    1
b    2
c    3
   one
a    1
   one
a    1
b    2

In [ ]:
import pandas as pd
a=pd.DataFrame([[1,2,3],[4,5,6]],columns=['one','two','three'])
b=pd.DataFrame([[7,8,9],[1,2,3]],columns=['one','two','three'])
ef=pd.concat([a,b])
print(ef)
print(ef.drop(1))

   one  two  three
0    1    2      3
1    4    5      6
0    7    8      9
1    1    2      3
   one  two  three
0    1    2      3
0    7    8      9

In [ ]:
import pandas as pd
a=[["aak","pune","36"],["kunwar","bangladesh",56]]
d=pd.DataFrame(a)
print(d)
d.to_csv('hello.csv')
d_read = pd.read_csv('hello.csv')
print(d_read)

        0           1   2
0     aak        pune  36
1  kunwar  bangladesh  56
   Unnamed: 0       0           1   2
0           0     aak        pune  36
1           1  kunwar  bangladesh  56